[submodule "openscad_stl_file_generator"]
	path = openscad_stl_file_generator
	url = https://github.com/nomike/openscad_stl_file_generator
[submodule "hws_openscad_attachments_and_connectors"]
	path = hws_openscad_attachments_and_connectors
	url = https://github.com/neclimdul/hws_openscad_attachments_and_connectors
